/* SECTION - ABOUT US TITLE */
.margin {
    margin-bottom: 10%;
}

.about-us {
    background: url("../background.jpg") repeat fixed 100%;
    height: 70%;
}

.about-us-title {
    padding-top: 15%;
}

.about-us-title h1 {
    text-align: center;
    font-size: 500%;
    color: white;
    letter-spacing: 10px;
    font-family: 'Tenor Sans';
    text-shadow: 1px 1px 5px #640E23;
    padding-bottom: 15%;
}


/* ARTICLE - CONTAINER*/
.container {
    width: 1200px;
    height: 300px;
    margin: 50px auto;
}

.container .box {
    position: relative;
    width: calc(380px - 20px);
    height: calc(320px - 20px);
    background:  #FDE8E2;
    float: left;
    margin: 20px;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 20px;
}

.container .box .about-us-icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #FAD6D7;
    transition: 0.5s;
    z-index: 1;
}

.container .box:hover .about-us-icon {
    top: 20px;
    left: calc(50% - 40px);
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.container .box .about-us-icon .fa {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    transition:0.5s;
    color:#fff;
}

.container .box:hover .about-us-icon .fa {
    font-size: 40px;
}

.container .box .content {
    position: absolute;
    top: 100px;
    height: calc(100% - 100px);
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    transition: 0.5s;
    opacity:0;
}

.container .box:hover .content {
    top:100px;
    opacity: 1;
}

.container .box .content h3 {
    margin: 0 0 10px;
    color:  #640E23;
    font-size: 25px;
}

/* SECTION - OUR STORY */
.our-story {
    text-align: center;
    margin: 150px;
}

.our-story h3 {
    letter-spacing: 10px;
    font-size: 1.1em;
}

.our-story p {
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 1.05em;
    letter-spacing: 3px;
    line-height: 1.7rem;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
}

/* FIGURE */
figure {
    text-align: center;
    padding-bottom: 100px;
}

figure h3 {
    margin-bottom: 50px;
    letter-spacing: 10px;
    font-size: 1.1em;
}

figcaption {
    margin-top: 15px;
    color: gray;
}